shared/lib/windows/lib/*.lib filter=lfs diff=lfs merge=lfs -text
shared/lib/windows/lib/Debug/*.lib filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
